
{% load static %}

<html lang="fa">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Name of your web site">
    <meta name="author" content="Marketify">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>توکیو | خانه</title>

    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/plugins.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/dark.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" />
</head>

<body class="dark">

    <div id="preloader">
        <div class="loader_line"></div>
    </div>

    <div class="tokyo_tm_all_wrap" data-magic-cursor="show" data-enter="fadeInLeft" data-exit>

        <div class="tokyo_tm_topbar">
            <div class="topbar_inner">
                <div class="logo" data-type="image">
                    <a href="#">
                        <img src="{% static 'assets/img/logo/logo2.png' %}" alt />
                        <h3>توکیو </h3>
                    </a>
                </div>
                <div class="trigger">
                    <div class="hamburger hamburger--slider">
                        <div class="hamburger-box">
                            <div class="hamburger-inner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tokyo_tm_mobile_menu">
            <div class="menu_list">
                <ul class="transition_link">
                    <li class="active"><a href="#home">خانه</a></li>
                    <li><a href="#about">درباره من</a></li>
                    <li><a href="#portfolio">نمونه کار</a></li>
                    <li><a href="#contact">تماس با من</a></li>
                </ul>
            </div>
        </div>

        <div class="leftpart">
            <div class="leftpart_inner">
                <div class="logo" data-type="image">
                    <a href="#">
                        <img src="{% static 'assets/img/logo/logo2.png' %}" alt />
                        <h3>توکیو </h3>
                    </a>
                </div>
                <div class="menu">
                    <ul class="transition_link">
                        <li class="active"><a href="#home">خانه</a></li>
                        <li><a href="#about">درباره من</a></li>
                        <li><a href="#portfolio">نمونه کار</a></li>
                        <li><a href="#contact">تماس با من</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="rightpart">
            <div class="rightpart_in">

                <div id="home" class="tokyo_tm_section animated">
                    <div class="container">
                        <div class="tokyo_tm_home">
                            <div class="home_content">
                                <div class="avatar" data-type="wave">
                                    <div class="image" data-img-url="{% static 'assets/img/slider/myph.jpg' %}"></div>
                                </div>
                                <div class="details">
                                    <h3 class="name"> امیرعلی  <span> فهیمی نسب </span></h3>
                                    <p class="job">من یک توسعه‌دهنده جنگو در قلب هستم و ویژگی‌هایی را ایجاد می‌کنم که بهترین‌ها هستند و مناسب‌ترین گزینه برای نیازهای خاص پروژه‌های وب‌سایت و اپلیکیشن‌های تحت وب</p>
                                    <div class="social">
                                        <ul>
                                            <li><a href="https://github.com/Amirali1401"><i class="icon-git-squared"></i></a></li>
                                            <li><a href="https://www.linkedin.com/in/amirali-fahiminasab"><i class="icon-linkedin-squared"></i></a></li>
                                            <li><a href="#"><i class="icon-instagram-"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="about" class="tokyo_tm_section">
                    <div class="container">
                        <div class="tokyo_tm_about">
                            <div class="tokyo_tm_title">
                                <div class="title_flex">
                                    <div class="left">
                                        <span>درباره من</span>
                                        <h3>درباره من</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="top_author_image">
                                <img src="{% static 'assets/img/slider/my-self-picture.jpg' %}" alt />
                            </div>
                            <div class="about_title">
                                <h3>امیرعلی فهیمی نسب</h3>
                                <span>توسعه دهنده وب</span>
                            </div>
                            <div class="about_text">
                                <p> سلام، من امیرعلی هستم حدود 4 سال هست که با پایتون کد میزنم و حدود چند ماه بعد از اون با فریمورک جنگو آشنا شدم و بهش علاقمند شدم.</p>
                                <p> به کار تیمی علاقه مند هستم و همچنین به دنبال ایده‌های مختلف هستم در وب‌سایت‌هایی که با تکنولوژی‌های پیشرفته مثل جنگو ساخته شده‌اند.</p>
                                <p> یکی از اصولی که خیلی به آن پایبند هستم و خیلی دوست دارم رعایت کنم، نوشتن کد به صورت بهینه است. کد بهینه و استاندارد نوشتن به شما کمک می‌کند که سرعت بیشتری داشته باشید، وب‌سایت‌تان ایمن‌تر باشد و قابلیت نگهداری و توسعه‌پذیری بیشتری داشته باشد.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- سایر بخش‌ها مانند مهارت‌ها، رزومه و پروژه‌ها در نسخه dark بدون تغییرات اساسی ادامه پیدا می‌کند -->

                <div id="portfolio" class="tokyo_tm_section">
                    <div class="container">
                        <div class="tokyo_tm_portfolio">
                            <div class="tokyo_tm_title">
                                <div class="title_flex">
                                    <div class="left">
                                        <span>نمونه کار</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list_wrapper">
                                <ul class="portfolio_list gallery_zoom">
                                    <li class="image">
                                        <div class="inner">
                                            <div class="entry tokyo_tm_portfolio_animation_wrap" data-title="نمونه کار" data-category="تصویر">
                                                <a class="zoom" href="{% static 'assets/img/portfolio/resume1.png' %}">
                                                    <img src="{% static 'assets/img/portfolio/resume1.png' %}" alt />
                                                    <div class="abs_image" data-img-url="{% static 'assets/img/portfolio/resume1.png' %}"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- سایر نمونه‌ها ادامه دارند -->
                                       <li class="image">
                                        <div class="inner">
                                            <div class="entry tokyo_tm_portfolio_animation_wrap" data-title="نمونه کار" data-category="تصویر">
                                                <a class="zoom" href="{% static 'assets/img/portfolio/resume2.png' %}">
                                                    <img src="{% static 'assets/img/portfolio/resume2.png' %}" alt />
                                                    <div class="abs_image" data-img-url="{% static 'assets/img/portfolio/resume2.png' %}"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                       <li class="image">
                                        <div class="inner">
                                            <div class="entry tokyo_tm_portfolio_animation_wrap" data-title="نمونه کار" data-category="تصویر">
                                                <a class="zoom" href="{% static 'assets/img/portfolio/resume3.png' %}">
                                                    <img src="{% static 'assets/img/portfolio/resume3.png' %}" alt />
                                                    <div class="abs_image" data-img-url="{% static 'assets/img/portfolio/resume3.png' %}"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="contact" class="tokyo_tm_section">
                    <div class="container">
                        <div class="tokyo_tm_contact">
                            <div class="tokyo_tm_title">
                                <div class="title_flex">
                                    <div class="left">
                                        <span>تماس با من</span>
                                        <h3>در تماس باشید</h3>
                                    </div>
                                </div>
                            </div>
                            				<div class="map_wrap">
									<div class="mapouter">
										<div class="gmap_canvas"><iframe width="100%" height="355" id="gmap_canvas"
												src="https://maps.google.com/maps?q=مشهد&z=13&ie=UTF8&iwloc=&output=embed"
												frameborder="0" scrolling="no" marginheight="0"
												marginwidth="0"></iframe><a
												href="https://fmovies-online.net/">fmovies</a><br>
											<style>
												.mapouter {
													position: relative;
													text-align: right;
													height: 355px;
													width: 100%;
												}
											</style><a href="https://www.embedgooglemap.net/">embedgooglemap.net</a>
											<style>
												.gmap_canvas {
													overflow: hidden;
													background: none !important;
													height: 355px;
													width: 100%;
												}
											</style>
										</div>
									</div>

								</div>
                            <div class="fields">
                                <form action="{% url 'contactus' %}" method="POST" class="contact_form" id="contact_form" autocomplete="off">
                                    {% csrf_token %}
                                    <div class="returnmessage" data-success="Your message has been received, We will contact you soon."></div>
                                    <div class="empty_notice"><span>لطفا زمینه های مورد نیاز را پر کنید</span></div>
                                    <div class="first">
                                        <ul>
                                            <li><label for="name"></label><input name="name" id="name" type="text" placeholder="نام"></li>
                                            <li><label for="email"></label><input name="email" id="email" type="text" placeholder="پست الکترونیک"></li>
                                        </ul>
                                    </div>
                                    <div class="last">
                                        <label for="message"></label><textarea id="message" name="message" placeholder="پیام"></textarea>
                                    </div>
                                    <button class="tokyo_tm_button" type="submit">لطفا کلیک کنید</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="mouse-cursor cursor-outer"></div>
        <div class="mouse-cursor cursor-inner"></div>

    </div>

    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/init.js' %}"></script>

</body>

</html>
